langchain
langchain-community
langchain-core
langchain-text-splitters
chromadb
fastapi
uvicorn
pydantic
python-dotenv
aiofiles
duckduckgo-search
arxiv
sentence-transformers
langchain-groq
tavily
langchain-huggingface
langchain-chroma
sqlalchemy
# Database drivers
pymysql
mysqlclient
psycopg2-binary
