langchain
langchain-community
chromadb
fastapi
uvicorn
pydantic
python-dotenv
duckduckgo-search
arxiv
sentence-transformers
langchain-groq
tavily
langchain-huggingface
langchain-chroma

# Database drivers
pymysql
mysqlclient
psycopg2-binary
